.containerr{
    padding-top: 2%    !important;
    margin-left: 20% !important;
    width: 80% !important;
    padding-bottom: 10%;
} 
 
.boton{
    text-align: right;
    padding-top: 15px;
}
/* 
.table{
    width: 100% !important;
} */

.cmantenimiento{
    padding-top: 5% !important;
}

.buscadores{
    text-align: center;
    cursor: pointer;
    background-color: #cccccc;
    width: 100%; 
    border:1px solid #000;
}

.dmotivo{
    background-color: #fff5e6;
    border:1px solid #000;
}

.car{
    width: 100%;
    font-size: 20em;
    border:2px solid #000;
    text-align: center;
    border-radius: 10%;
    float:right;
    
}

.datos{
    border:1px solid #000;
    background: #ff7733;
    font-size: 1.2em;
    color:#fff;
    width: 30%;
}

.Rdatos{
     border:1px solid #000;
     background: #EEEEEE;
     font-size: 1.2em;
     width: 40%;
     
}


.DMantenimiento {
    border:1px solid #000 !important;
    background-color: #fff2c0 !important;

}

.title{
    text-align: center;
    font-size: 0.8em;
    border:1px solid #000 !important;
}

.dataReturn{
    background-color: #c2e7fc;
}