<!--
.Estilo1 {
	color: #FFFFFF;
	
	font-size: 20px;
	font-family: Segoe UI;
	text-align: right;
}

/*td
{
	
	display: inline-block;
}
*/


			
			#header {
				margin:inherit;
				width:1540px;
				font-family:Arial, Helvetica, sans-serif;
				
				
				
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:white;
				color:black;
				text-decoration:none;
				padding:18px 46px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#DAA520;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:240px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-240px;
				top:10px;
			}
			
			
			#cabeza
			{
			width:50px;
			height:40px;
			
		
			
			
			}
			
			
			#sesion
			
			{
			
				margin:auto;
				width:15px;
				font-family:Arial, Helvetica, sans-serif;
			
			}
			
			
			
			#titulo
			{
			font-size:35px;
			font-family:"Segoe UI";
			}
			
			#salir
			{
			background:red;
			}
			
			--> termina

._css3m{display:none}


#main-header {
    background: white;
    top: 0;
    position: fixed;
	z-index: 1;
}   
    #main-header a {
        color: white;
    }
    
   
   
   
   
#main-content {
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
	 position: relative;
	 top:250px;
}

    #main-content header,
    #main-content .content {
        padding: 40px;
    }
    

#menu
{
color:#FFFFFF;

font-family:"Segoe UI";
font-size:9px;
cursor: pointer;

}

#Estilo2
{
font-size:10px;

}


#head
{
font-size:10px;
color:#FFFFFF;
font-family:"Segoe UI";
font-weight:500;
}

input.submit
{
    width: auto;
    background-position: 4px -91px;
    background-color: #999999;
    color: #FFFFFF;
    cursor: pointer;
}

input.user{ background-position: 5px -21px; }
input.search{ background-position: 12px 1px; }

.input{
	width: 80%;
}


.verticalLine {
    border-left: thick solid #FFFFFF;
	height:40px;
	width:0;
	}